.icon-aerolab-blue { background-image: url('../images/icons/aerolab-blue.6bcfc4ef.png'); background-repeat: no-repeat; }

.icon-aerolab-red { background-image: url('../images/icons/aerolab-red.c2dcd788.png'); background-repeat: no-repeat; }

.icon-aerolab { background-image: url('../images/icons/aerolab.da1ccd0c.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('../images/icons/github.f16f156b.png'); background-repeat: no-repeat; }

