---
title: Home
---
<section id="festival" class="composition mask-01 wow fadeIn">
  <div>
    <header>
      <h2><span><span class="wow fadeInLeft" data-wow-delay=".5s">TYPE</span></span> <span><span class="wow fadeInRight" data-wow-delay=".5s">festival</span></span> <span><span class="wow fadeInLeft" data-wow-delay=".5s">2015</span></span></h2>
      <h3><span><span class="wow fadeInLeft" data-wow-delay="1s">Playfair Display</span></span> <span><span class="wow fadeInRight" data-wow-delay="1s">size 78</span></span></h3>
    </header>
    <p class="wow fadeInLeft" data-wow-delay="1.75s">
      <span>5/20</span> <br>
      Thu. <span>22:30 hs.</span>
    </p>
    <p class="smaller wow fadeInLeft" data-wow-delay="2s">Cutive mono 12</p>
  </div>
</section>

<section id="crushed" class="composition">
  <div class="wow">
    <img src="assets/images/crushed-hero.png" alt="" class="wow fadeIn" data-wow-delay=".6s">
    <header>
      <h2 aria-label="Crushed it" class="wow fadeIn" data-wow-delay=".75s"><span>C</span>rushed it</h2>
      <h3 class="wow fadeInDown" data-wow-delay=".9s">Fat Amy // Rebel Wilson</h3>
    </header>
    <p class="wow fadeInRight" data-wow-delay="1.05s">Wilson estudió en el Teatro Australiano para Jóvenes (ATYP). Estrenó su musical de teatro: "Los monólogos de Westie", que ella escribió, protagonizó y produjo en Sídney. Además de "Spunks" y "Confesiones de un estudiante de intercambio". En 2003 se mudó a Nueva York después de ganar la beca "ATYP Internacional" que fue financiada por Nicole Kidman.</p>
    <a href="" class="btn wow fadeInUp" data-wow-delay="1.2s">Ver Perfil</a>
  </div>
</section>

<section id="winter" class="composition">
  <nav>
    <a href="" class="logo">Ark</a>
    <ul>
      <li class="active"><a href="">Collection</a></li>
      <li><a href="">Shop</a></li>
      <li><a href="">Cart</a></li>
      <li><a href="">About</a></li>
    </ul>
  </nav>

  <article>
    <h3>Season / 2015 <small>Winter / Autumn catalogue</small></h3>
    <figure>
      <img src="assets/images/winter-hero.jpg" alt="">
      <figcaption>Winter</figcaption>
    </figure>
    <div>
      <h2>Ark Colective Design Collection</h2>
      <p>Type Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
      <p>Type Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo.</p>
    </div>
  </article>
</section>