---
title: Home
---
<div class="scrollable">
<section id="festival" class="composition mask-01 wow fadeIn">
  <div>
    <header>
      <h2><span><span class="animated fadeInLeft" data-wow-delay=".5s">TYPE</span></span> <span><span class="animated fadeInRight" data-wow-delay=".5s">festival</span></span> <span><span class="animated fadeInLeft" data-wow-delay=".5s">2015</span></span></h2>
      <h3><span><span class="animated fadeInLeft" data-wow-delay="1s">Playfair Display</span></span> <span><span class="animated fadeInRight" data-wow-delay="1s">size 78</span></span></h3>
    </header>
    <p class="animated fadeInLeft" data-wow-delay="1.75s">
      <span>5/20</span> <br>
      Thu. <span>22:30 hs.</span>
    </p>
    <p class="smaller animated fadeInLeft" data-wow-delay="2s">Cutive mono 12</p>
  </div>
</section>

<section id="crushed" class="composition">
  <div class="wrap">
  <div class="container">
    <img src="assets/images/crushed-hero.png" alt="" class="animated fadeIn" data-wow-delay=".6s">
    <header>
      <h2 aria-label="Crushed it" class="animated fadeIn" data-wow-delay=".75s"><span>C</span>rushed it</h2>
      <h3 class="animated fadeInDown" data-wow-delay=".9s">Fat Amy // Rebel Wilson</h3>
    </header>
    <p class="animated fadeInRight" data-wow-delay="1.05s">Wilson estudió en el Teatro Australiano para Jóvenes (ATYP). Estrenó su musical de teatro: "Los monólogos de Westie", que ella escribió, protagonizó y produjo en Sídney. Además de "Spunks" y "Confesiones de un estudiante de intercambio". En 2003 se mudó a Nueva York después de ganar la beca "ATYP Internacional" que fue financiada por Nicole Kidman.</p>
    <a href="" class="btn animated fadeInUp" data-wow-delay="1.2s">Ver Perfil</a>
  </div>
  </div>
</section>

<section id="winter" class="composition">
  <div class="container">
    <nav>
      <a href="" class="logo">Ark</a>
      <ul>
        <li class="active"><a href="">Collection</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">Cart</a></li>
        <li><a href="">About</a></li>
      </ul>
    </nav>

    <article>
      <h3>Season / 2015 <small>Winter / Autumn catalogue</small></h3>
      <figure>
        <img src="assets/images/winter-hero.jpg" alt="">
        <figcaption>Winter</figcaption>
      </figure>
      <div>
        <h2>Ark Colective Design Collection</h2>
        <p>Type Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
        <p>Type Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo.</p>
      </div>
    </article>
  </div>
</section>

<section id="space" class="composition">
  <div>
    <nav>
      <a href="" class="logo">Oasis</a>
      <a href="" class="hamburger"></a>
    </nav>
    <article>
      <h3>Champagne</h3>
      <h2>Supernova</h2>
    </article>
    <div class="floatingStuff">
      <div class="thingy rock01"></div>
      <div class="thingy rock02"></div>
      <div class="thingy rock03"></div>
      <div class="thingy rock04"></div>
      <div class="thingy rock05"></div>
      <div class="thingy dude"></div>
    </div>
  </div>
</section>

<section id="ampersand" class="composition">
  <div>
    <h1><span>I am <i>in</i> <em>love</em> with</span> playfair display's ampersand</h1>
    <small>Claus Eggers Sørensen</small>
  </div>
</section>

<section id="penny" class="composition">
  <div>
    <nav>
      <a href="" class="btn btn-shopping">Shopping bag <span>1</span></a>
    </nav>
    <article>
      <header>
        <a class="logo">Penny</a>
      </header>
      <div class="text">
        <img src="assets/images/penny-board.png" alt="" class="board">
        <h1>flex<span>&amp;grip</span></h1>
        <h2>22" Skateboards</h2>
        <p>They embody what this company is about: freedom and fun, combined with technical prowess and quality materials.</p>
        <div class="select-color">
          <span>Select a color</span>
          <ul>
            <li class="color purple"><a href=""></a></li>
            <li class="color blue"><a href="" class="active"></a></li>
            <li class="color black"><a href=""></a></li>
            <li class="color green"><a href=""></a></li>
          </ul>
        </div>
      </div>
      <div class="image">
        <img src="assets/images/penny-chic.jpg" alt="" class="chic">
        <span class="category">Mini knoop</span>
        <h3>€130,00</h3>
        <a href="" class="btn btn-order">Pre order</a>
      </div>
    </article>
  </div>
</section>

<section id="brothers" class="composition">
  <div>
    <header><span>chapter xxi</span></header>
    <article>
      <div class="col col-left">
        <h1><span>The </span>three brothers</h1>
        <p>But though Death searched for the third brother for many years, he was never able to find him. It was only when he had attained a great age that the youngest brother finally took off the Cloak of Invisibility and gave it to his son. </p>
        <small>Fira sans &amp; <span>Libre baskerville</span></small>
      </div>
      <div class="col col-right">
        <p>And then he greeted Death as an old friend, and went with him gladly, and, equals they departed this life.</p>
        <small>the tales of beedle the bard</small>
      </div>
    </article>
    <footer>Harry Potter and the deathly Hallows <span>//</span> J.K. Rowling</footer>
  </div>
</section>

<section id="process" class="composition">
  <div>
    <header>
      <h1>Type In &#8212; Process</h1>
      <a href="" class="btn-menu">Menu</a>
    </header>

    <article>
      <div class="img">
        <img src="assets/images/process.jpg" alt="">
      </div>

      <div class="location">
        <h2>Saint &#8212; Etienne</h2>
        <h3>SAT <span>15 SEPT</span> 19H</h3>
        <h2>36, Rue D’anvers Lyon &#8212; 7E</h2>
        <h3>36, Rue <span>D’anvers</span> Lyon &#8212; 7E</h3>
      </div>

      <div class="misc">
        <h2>* <span>&nbsp;</span></h2>
        <h3>-/-/- <span>&nbsp;</span><span>&nbsp;</span></h3>
        <h2>Biennale Internatio-nale Design</h2>
      </div>
    </article>

    <footer>
      <a href="" class="btn-buy">Buy Tickets</a>
      <ul>
        <li><a href="">Instagram</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Facebook</a></li>
      </ul>
    </footer>
  </div>
</section>

<section id="music" class="composition">
  <a href="" class="btn btn-menu"></a>
  <div class="music">
    <div class="meta">
      <h1>Statikphunk</h1>
      <h2>Richie Hawtin</h2>
      <img src="assets/images/vinyl.png" class="cover" alt="">
    </div>
    <div class="player">
      <a href="" class="btn fa-pause fa"></a>
      <a href="" class="btn fa-forward fa"></a>
      <a href="" class="btn fa-backward fa"></a>
      <div class="progress" data-total="06:04">
        <div class="handle" data-current="0:44"></div>
      </div>
    </div>
  </div>
  <ul class="social">
    <li><a href="">Facebook</a></li>
    <li><a href="">Twitter</a></li>
    <li><a href="">Soundcloud</a></li>
  </ul>
</section>

<!--section id="mecha" class="compisition">
  <div class="contenedor">
  <div class="img">
    <img src="assets/images/dude.png" alt="">
  </div>

  <div class="text">
    <h1>Titulo de la Nota</h1>
    <h2>ESTO ES UN COPETE Y UNA MINI DESCRIPCION DE LA NOTA</h2>
    <p>LOREM IPSUM DOLOR SIT AMET, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
    <a href="">See site</a>
  </div>
  </div>
</section-->
</div>